<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"><h1>Add a new comment to <%= site.name %></h1></div>
        <div class="col-lg-4"></div>
        </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form action="/landingSites/<%= site._id %>/comments" method="POST">
                <div class="form-group">
                    <label for="loc">Posting as <%= currentUser.username %></label>
                    <input class="form-control" type="text" name="comment[text]" id="text" placeholder="ex: Five stars!">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 form-group">
            <a href="/landingSites">Cancel</a>
        </div>
        <div class="col-lg-4"></div>
    </div>
<% include ../partials/footer %>