<% include partials/header %>
<h1>Campgrounds:</h1>
<a href="/campgrounds/new">New campground</a>
<ul>
    <% sites.forEach(function(element) { %>
        <div>
            <h4><%= element.name %></h4>
            <p><%= element.location %></p>
            <img style="display:block" src="<%= element.img %>">
        </div>
    <% }) %>
</ul>
<% include partials/footer %>