<% include partials/header-home %>

<div class="container home-title">
        <header class="jumbotron">
            <h1>CampSpace</h1>
            <h3>Where do <strong>you</strong> want to land?</h3>
            <a class="btn btn-lg btn-primary" href="/landingSites">View Landing Sites</a>
        </header>
</div>

<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<% include partials/footer %>