<% include partials/header %>

<div class="container">
        <header class="jumbotron">
            <h1>CampSpace</h1>
            <h3>When you're looking for a home away from home, or just a place to crash.</h3>
        </header>
        <div>
            <a href="/landingSites">View all Landing Sites.</a>
        </div>
</div>


<% include partials/footer %>