.thumbnail {
    padding: 10px;
    padding-bottom: 30px;
    min-height: 250px;
}

.caption-full {
    padding: 10px 10px 0;
}

.form-inline {
    display: inline;
}

nav {
    z-index: 1;
}

.navbar {
    border-radius: 0px;
}

.content-header {
  text-align: center;
  width: 60%;
}

.content-header h1 {
  margin-bottom: 20px;
}

.content-header p {
  margin-bottom: 45px;
}

.pull-right {
    text-align: right;
}

hr {
    border-top: 1px solid #cccccc;
}

.bootstrap-override>.navbar-default, 
.bootstrap-override>.navbar-nav>li>a {
  color: #4a4a4a;
}