<% include ../partials/header %>

<div class="container">
    <header>
        <div class="container content-header">
            <h1>Landing Sites</h1>
            <p>
                <a class="btn btn-success btn-large btn-block" href="/landingSites/new"><span class="glyphicon glyphicon-plus"></span> New Site</a>
            </p>
        </div>
    </header>
    <div class="row" style="display: flex; flex-wrap: wrap;">
    
        <% sites.forEach(function(element) { %>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="thumbnail">
                    <img class="img-responsive" style="max-height:200px;" src="<%= element.img %>">
                    <div class="caption">
                        <h4><%= element.name %></h4>
                        <p><%= element.location %></p>
                        <p><a class="btn btn-primary btn-block" href="/landingSites/<%= element._id %>">Details</a></p>
                    </div>
                </div>
            </div>
        <% }) %>
    
    </div>
</div>

<% include ../partials/footer %>