<% include ../partials/header %>

<div class="container">
        <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"><h1>Add a new Landing Site</h1></div>
        <div class="col-lg-4"></div>
        </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form action="/landingSites" method="POST">
                <div class="form-group">
                    <label>Posting as <%= currentUser.username %></label>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="site[name]" id="name" placeholder="ex: Olympus Mons">
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="site[location]" id="location" placeholder="ex: Mars">
                </div>
                <div class="form-group">
                    <label for="distance">Distance from Earth (km)</label>
                    <input class="form-control" type="number" name="site[distance]" id="distance" placeholder="Distance" min="0" step="1">
                </div>
                <div class="form-group">
                    <label for="desc">Description</label>
                    <input class="form-control" type="text" name="site[description]" id="description" placeholder="Describe why this place is special...">
                </div>
                <div class="form-group">
                    <label for="img">Image URL</label>
                    <input class="form-control" type="text" name="site[img]" id="img" placeholder="ex: http://www.example.com/example.jpg">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 form-group">
            <a href="/landingSites">Cancel</a>
        </div>
        <div class="col-lg-4"></div>
    </div>
<% include ../partials/footer %>